body {
background: radial-gradient(circle, #0a0f1f, #000);
color: white;
font-family: 'Segoe UI', sans-serif;
}

.glow-text {
color: #00f7ff;
text-shadow: 0 0 10px #00f7ff, 0 0 20px #00f7ff;
}


.hero {  margin-top: 100px;
}

.about-section {
margin-top: 50px;
}

.futuristic-card {
background: rgba(0,0,0,0.7);
border: 1px solid #00f7ff;
box-shadow: 0 0 15px #00f7ff;
transition: 0.3s;
}

.futuristic-card:hover {
transform: scale(1.05);
box-shadow: 0 0 25px #00f7ff;
}

.nav-link:hover {color: #00f7ff !important;}